@font-face {
  font-family: iconfont; /* Project id 5091153 */
  src:
    url('iconfont.woff2?t=1765956991019') format('woff2'),
    url('iconfont.woff?t=1765956991019') format('woff'),
    url('iconfont.ttf?t=1765956991019') format('truetype');
}

.iconfont {
  font-family: iconfont !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jinandaxue::before {
  content: '\e675';
}

.icon-css::before {
  content: '\e651';
}

.icon-html::before {
  content: '\e652';
}

.icon-react::before {
  content: '\e689';
}

.icon-github::before {
  content: '\e66f';
}

.icon-vite::before {
  content: '\e66b';
}

.icon-rili1::before {
  content: '\e600';
}

.icon-gongyibangfulaoren::before {
  content: '\e64f';
}

.icon-rili2::before {
  content: '\e745';
}

.icon-aixinchoukuan::before {
  content: '\e603';
}

.icon-rili3::before {
  content: '\e811';
}

.icon-java::before {
  content: '\e6d7';
}

.icon-Docker2::before {
  content: '\e6e1';
}

.icon-k8s::before {
  content: '\e6e2';
}

.icon-zinkin::before {
  content: '\e75d';
}

.icon-OpenTelemetry::before {
  content: '\e75e';
}

.icon-jaeger::before {
  content: '\e75f';
}

.icon-GO::before {
  content: '\e760';
}

.icon-a-Nodejs::before {
  content: '\e761';
}

.icon-a-C::before {
  content: '\e762';
}

.icon-clickhouse::before {
  content: '\e766';
}

.icon-KUDU::before {
  content: '\e767';
}

.icon-python::before {
  content: '\e768';
}

.icon-Skywalking::before {
  content: '\e769';
}

.icon-openGauss::before {
  content: '\e76b';
}

.icon-rendajincang::before {
  content: '\e76c';
}

.icon-GBase::before {
  content: '\e772';
}

.icon-ruby::before {
  content: '\e773';
}

.icon-php::before {
  content: '\e774';
}

.icon-SequoiaDB::before {
  content: '\e775';
}

.icon-Mysql::before {
  content: '\e788';
}

.icon-Redis::before {
  content: '\e789';
}

.icon-Prometheus::before {
  content: '\e78a';
}

.icon-a-ChunJun112::before {
  content: '\e78b';
}

.icon-Doris::before {
  content: '\e78c';
}

.icon-ClickHose::before {
  content: '\e78d';
}

.icon-Elastic::before {
  content: '\e78e';
}

.icon-Impala::before {
  content: '\e78f';
}

.icon-Hbase::before {
  content: '\e790';
}

.icon-Kafka::before {
  content: '\e791';
}

.icon-Hue::before {
  content: '\e792';
}

.icon-Kudu::before {
  content: '\e793';
}

.icon-Iceberg::before {
  content: '\e794';
}

.icon-Yarn::before {
  content: '\e795';
}

.icon-Spark::before {
  content: '\e796';
}

.icon-Presto::before {
  content: '\e797';
}

.icon-a-HadoopHDFSMapreduce::before {
  content: '\e798';
}

.icon-Trino::before {
  content: '\e799';
}

.icon-Hudi::before {
  content: '\e79a';
}

.icon-Hive::before {
  content: '\e79b';
}

.icon-Flink::before {
  content: '\e79c';
}

.icon-elastic::before {
  content: '\e79d';
}

.icon-a-083_jiudian::before {
  content: '\e7cd';
}

.icon-a-hua20::before {
  content: '\e650';
}

.icon-zihangche-2::before {
  content: '\e952';
}

.icon-zihangche-1::before {
  content: '\e953';
}

.icon-diandongche-1::before {
  content: '\e954';
}

.icon-diandongche-2::before {
  content: '\e955';
}

.icon-motuoche-1::before {
  content: '\e956';
}

.icon-gongjiaoche-1::before {
  content: '\e961';
}

.icon-gongjiaoche-2::before {
  content: '\e962';
}

.icon-feiji-2::before {
  content: '\e967';
}

.icon-jiuhuche::before {
  content: '\e96e';
}

.icon-feiji-21::before {
  content: '\e971';
}

.icon-lunchuan-2::before {
  content: '\e974';
}

.icon-lunchuan-1::before {
  content: '\e975';
}

.icon-weixin::before {
  content: '\e695';
}

.icon-weixin1::before {
  content: '\e608';
}

.icon-zhifubao::before {
  content: '\e607';
}

.icon-weixin2::before {
  content: '\e609';
}

.icon-logo-android::before {
  content: '\e60a';
}

.icon-logo-adobe-lightroom::before {
  content: '\e60b';
}

.icon-logo-adobe-photoshop::before {
  content: '\e60c';
}

.icon-logo-codesandbox::before {
  content: '\e60d';
}

.icon-logo-adobe-illustrate::before {
  content: '\e60e';
}

.icon-logo-facebook::before {
  content: '\e60f';
}

.icon-logo-cinema4d::before {
  content: '\e610';
}

.icon-logo-framer::before {
  content: '\e611';
}

.icon-logo-codepen::before {
  content: '\e612';
}

.icon-logo-gitlab::before {
  content: '\e613';
}

.icon-logo-behance::before {
  content: '\e614';
}

.icon-logo-instagram::before {
  content: '\e615';
}

.icon-logo-dribbble::before {
  content: '\e616';
}

.icon-logo-apple::before {
  content: '\e617';
}

.icon-logo-github::before {
  content: '\e618';
}

.icon-logo-qq::before {
  content: '\e619';
}

.icon-logo-twitter::before {
  content: '\e61a';
}

.icon-logo-ie::before {
  content: '\e61b';
}

.icon-logo-youtube::before {
  content: '\e61c';
}

.icon-jiaoseguanli::before {
  content: '\e61d';
}

.icon-kurongquxian::before {
  content: '\e61e';
}

.icon-jiankong::before {
  content: '\e61f';
}

.icon-shuiku::before {
  content: '\e620';
}

.icon-heliuguanli::before {
  content: '\e621';
}

.icon-moxing::before {
  content: '\e622';
}

.icon-duanxin::before {
  content: '\e623';
}

.icon-shebei::before {
  content: '\e624';
}

.icon-xunjian::before {
  content: '\e625';
}

.icon-ditu::before {
  content: '\e626';
}

.icon-shuidianzhan::before {
  content: '\e627';
}

.icon-jiashicang::before {
  content: '\e628';
}

.icon-tongyongpeizhi::before {
  content: '\e629';
}

.icon-caidanguanli::before {
  content: '\e62a';
}

.icon-rizhiguanli::before {
  content: '\e62b';
}

.icon-shishifenxi::before {
  content: '\e62c';
}

.icon-yingjiziyuan::before {
  content: '\e62d';
}

.icon-shuiwentezheng::before {
  content: '\e62e';
}

.icon-shanhong::before {
  content: '\e62f';
}

.icon-quxian::before {
  content: '\e630';
}

.icon-zidianguanli::before {
  content: '\e631';
}

.icon-zhishiku::before {
  content: '\e632';
}

.icon-yonghuguanli::before {
  content: '\e633';
}

.icon-yujing::before {
  content: '\e634';
}

.icon-xitong::before {
  content: '\e635';
}

.icon-guanliyuanqiehuan::before {
  content: '\e636';
}

.icon-chakan::before {
  content: '\e637';
}

.icon-biaoqian::before {
  content: '\e638';
}

.icon-qidong::before {
  content: '\e639';
}

.icon-bianji::before {
  content: '\e63a';
}

.icon-xiazai::before {
  content: '\e63b';
}

.icon-shanchu::before {
  content: '\e63c';
}

.icon-rili::before {
  content: '\e63d';
}

.icon-daochu::before {
  content: '\e63e';
}

.icon-xiangshang::before {
  content: '\e63f';
}

.icon-xitongrizhi::before {
  content: '\e640';
}

.icon-shengyin-kai::before {
  content: '\e641';
}

.icon-suoding::before {
  content: '\e642';
}

.icon-quxiao::before {
  content: '\e643';
}

.icon-xinzeng::before {
  content: '\e644';
}

.icon-wenjianjia::before {
  content: '\e645';
}

.icon-zhedie::before {
  content: '\e646';
}

.icon-zhankai::before {
  content: '\e647';
}

.icon-shengyin-guan::before {
  content: '\e648';
}

.icon-shezhi::before {
  content: '\e649';
}

.icon-xinzeng2::before {
  content: '\e64a';
}

.icon-xiangxia::before {
  content: '\e64b';
}

.icon-tianjiawenjianjia::before {
  content: '\e64c';
}

.icon-yincang::before {
  content: '\e64d';
}

.icon-sousuo::before {
  content: '\e64e';
}

.icon-baobiaoguanli::before {
  content: '\10219';
}

.icon-cangkuxinxi::before {
  content: '\1021a';
}

.icon-biaogetianxie::before {
  content: '\1021b';
}

.icon-fenxiang::before {
  content: '\1021c';
}

.icon-caozuorizhi::before {
  content: '\1021d';
}

.icon-fengkongguanli::before {
  content: '\1021e';
}

.icon-duanxinlishi::before {
  content: '\1021f';
}

.icon-hezuohuoban::before {
  content: '\10220';
}

.icon-qudenglu::before {
  content: '\10221';
}

.icon-kehuguanli::before {
  content: '\10222';
}

.icon-yunshuguanli::before {
  content: '\10223';
}

.icon-shenpizhongxin::before {
  content: '\10224';
}

.icon-yonghurenzheng::before {
  content: '\10225';
}

.icon-xitongshezhi::before {
  content: '\10226';
}

.icon-yonghuguanli1::before {
  content: '\10227';
}

.icon-renyuanguanli::before {
  content: '\10228';
}

.icon-pingtaiguanli::before {
  content: '\10229';
}

.icon-xinxiguanli::before {
  content: '\1022a';
}

.icon-renwuguanli_1::before {
  content: '\1022b';
}

.icon-hetongguanli::before {
  content: '\1022c';
}

.icon-zhangdanguanli::before {
  content: '\1022d';
}

.icon-shujuku::before {
  content: '\1022e';
}

.icon-renwuguanli::before {
  content: '\1022f';
}

.icon-zuzhijiagou::before {
  content: '\10230';
}

.icon-yunyingguize::before {
  content: '\10231';
}

.icon-guanlianpeizhi::before {
  content: '\10232';
}
